@using Microsoft.AspNet.Identity



@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img id="profilePictureDropdown" class="profile-picture-dropdown" src="~/Images/DefaultAvatar.png" alt="Dropdown Menu" />
                <span id="nav-notification-indicator" class="position-absolute translate-middle badge smaller-badge bg-red"></span>
                Me
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                @if (User.Identity.IsAuthenticated)
                {<a class="dropdown-item" href="@Url.Action("Edit", "Person")">Account Info</a>}
                <a class="dropdown-item" href="@Url.Action("Index", "Manage", new { title = "Manage" })">Security</a>
                @if (User.Identity.IsAuthenticated)
                {<a class="dropdown-item" href="@Url.Action("Index", "Notification")">Notifications 
                <span id="nav-dropdown-notification-indicator" class="badge smaller-badge bg-red"></span></a>}
                @if (User.Identity.IsAuthenticated)
                {<a class="dropdown-item" href="@Url.Action("Index", "Transaction")">Transactions</a>}
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
            </div>
        </div>
    }
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               href="@Url.Action("Register", "Account", new { id = "registerLink" })">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               href="@Url.Action("Login", "Account", new { id = "loginLink" })">Log in</a>
        </li>
    </ul>
}

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    $(document).ready(function () {

        $.ajax({
                type: "GET",
                 url: "@(Url.Action("GetProfilePicture", "Account"))",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var imageData = data.imageSrc;
                    $('#profilePictureDropdown').attr('src', imageData);
                },
            error: function (result) {
                alert(result.status + ' ' + result.statusText + "\nCould not load profile picture. Try uploading a smaller profile picture.");
                }
        });

        $.ajax({
                type: "GET",
                 url: "@(Url.Action("GetNotificationCount", "Account"))",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var notificationCount = data.notificationCount;
                    if (notificationCount > 0) {
                        $('#nav-notification-indicator').show();
                        $('#nav-dropdown-notification-indicator').show();

                        if (notificationCount > 3) {
                            $('#nav-notification-indicator').text("3+");
                            $('#nav-dropdown-notification-indicator').text("3+");
                        } else {
                            $('#nav-notification-indicator').text(notificationCount);
                            $('#nav-dropdown-notification-indicator').text(notificationCount);
                        }
                    } else {
                        $('#nav-notification-indicator').hide();
                        $('#nav-dropdown-notification-indicator').hide();
                    }
                },
                error: function () {
                    alert("Could not get notifications.");
                }
        });

    });

</script>