@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                   href="@Url.Action("Index", "Manage", new { title = "Manage" })">
                    @string.Format("Hello " + User.Identity.GetUserName() + "!")
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               href="@Url.Action("Register", "Account", new { id = "registerLink" })">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               href="@Url.Action("Login", "Account", new { id = "loginLink" })">Log in</a>
        </li>
    </ul>
}
