@model IEnumerable<GiftRegistry.Models.UserRoleDetail>

@{
    ViewBag.Title = "Manage Users";
}

<div id="PlaceHolderHere"></div>

<h2 class="mt-5">Manage Users</h2>

<div class="mt-3 row justify-content-md-start">

    <div class="col-md-auto pl-0 mr-1">
        @using (Html.BeginForm("Index", "UserRole", FormMethod.Get))
        {
            @Html.TextBox("search", null, new { @id = "searchField", @onblur = "return check(this);", @placeholder = "Search..." }) <input class="btn btn-gray-light search-button mr-1 ml-0" type="submit" value="" />
        }
    </div>

    <div class="col-md-auto px-0 mr-1 ml-0">
        @using (Html.BeginForm("Index", "UserRole", FormMethod.Get))
        {
            <button type="submit" id="clearButton" class="btn btn-gray-dark">Clear Search</button>
        }
    </div>

</div>

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoleName)
        </th>
        <th></th>
    </tr>

    @if (Model is null || Model.Count() == 0)
    {
        <tr>

            <td class="align-middle">
                <p class="my-4">We couldn't find any users at this time.</p>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr class="@GetClassForUserRole(item.UserRoleName)">

                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.UserRoleName)
                </td>
                <td class="align-middle">

                    <button type="button" class="btn btn-red float-end btn-list-item" data-toggle="ajax-modal" data-target="#registerRole"
                            data-url="@Url.Action("Delete", "Account", new { userGUID = item.UserGUID })">
                        Delete
                    </button>

                    <button type="button" class="btn btn-gray-light float-end btn-list-item" data-toggle="ajax-modal" data-target="#deleteAccount"
                            data-url="@Url.Action("RegisterRole", "Account", new { userGUID = item.UserGUID })">
                        Edit
                    </button>
                </td>
            </tr>
        }
    }

</table>

@functions{
    public string GetClassForUserRole(string userRole)
    {
        switch (userRole)
        {

            case "Admin":
                return "table-success";
            case "Mod":
                return "table-info";
            default:
                return "";
        }
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    $(function () {

        var PlaceHolderElement = $('#PlaceHolderHere');

        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            });
        });

        // Submit user role update
        $('#PlaceHolderHere').on('click', '[id="btnEditSubmit"]', function (event) {
            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var sendData = form.serialize();
            $.post(actionUrl, sendData).done(function (data) {
                if (Boolean(data.successful)) {
                    PlaceHolderElement.find('.modal').modal('hide');
                    setTimeout(function () {// wait for 1 secs
                        location.reload(); // then reload the page.
                    }, 500);
                } else {
                    // Show errors
                    //    alert("Error");
                }
            })
                .fail(function () {
                    alert("There was an error processing your request. Please try again.");
                });
        });

        // Submit user delete
        $('#PlaceHolderHere').on('click', '[id="btnDeleteSubmit"]', function (event) {
            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var sendData = form.serialize();
            $.post(actionUrl, sendData).done(function (data) {
                if (Boolean(data.successful)) {
                    PlaceHolderElement.find('.modal').modal('hide');
                    setTimeout(function () {// wait for 1 secs
                        location.reload(); // then reload the page.
                    }, 500);
                } else {
                    // Show errors
                    //    alert("Error");
                }
            })
                .fail(function () {
                    alert("There was an error processing your request. Please try again.");
                });
        });

    });

    $(document).ready(function () {
        if (document.getElementById("searchField").value != "") {
            document.getElementById("clearButton").disabled = false;
        }
        else {
            document.getElementById("clearButton").disabled = true;
        }
    });

    function check(obj) {
        if (obj.value.trim() != "") {
            document.getElementById("clearButton").disabled = false;
        }
        else {
            document.getElementById("clearButton").disabled = true;
        }
    }

</script>

<style>
    .search-button {
        background-image: url("../../Images/SearchIcon.png");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 20px;
    }

    .button-disabled {
        cursor: text;
    }
</style>