@model GiftRegistry.Models.FriendDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="mt-4">@Model.PersonName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        @if (Model.IsPending)
        {
            <dt>
                @Html.DisplayName("Status")
            </dt>

            <dd>
                Request Pending
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship)
        </dd>

        @if (!Model.IsPending)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Person.Birthdate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.Birthdate)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FriendID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@if (!Model.IsPending)
{
    <div>
        <br />
        <h2 class="mt-4">Gift Lists</h2>
        <hr />
        <table class="table">
            <tr>
                @{ var dummyWishList = Model.Person.WishLists.FirstOrDefault();}
                <th>
                    @Html.DisplayNameFor(model => dummyWishList.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => dummyWishList.DueDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Person.WishLists)
            {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td class="align-middle">
                @Html.ActionLink("View", "Details", "WishList", new { id = item.WishListID }, new { @class = "btn btn-gray-light float-end btn-list-item" })

            </td>
        </tr>
            }

        </table>
    </div>
}
