@model GiftRegistry.Models.FriendDetail

@{
    ViewBag.Title = "Details";
}

<div id="PlaceHolderHere"></div>

<div class="row mt-4">

    <div class="col-md-6 align-self-end py-4">
        <div class="mt-4 gray-box">
            <h4>@Model.PersonName</h4>

            <div class="mt-3">
                @if (!String.IsNullOrWhiteSpace(Model.Relationship))
                {
                    <p>Relationship: @Model.Relationship</p>
                }

                <p>Birthday: @Html.DisplayFor(model => model.Person.Birthdate)</p>

            </div>

            <div class="mt-3">
                <button type="button" class="btn btn-gray-dark" data-toggle="ajax-modal" data-target="#editFriend"
                        data-url="@Url.Action("Edit", "Friend", new { id = Model.FriendID })">
                    Edit Info
                </button>
            </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="py-4 d-flex justify-content-center">
            <div class="img-wrapper">
                @if (Model.Person.ProfilePicture != null)
                {
                    var base64 = Convert.ToBase64String(Model.Person.ProfilePicture);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <img id="feature-image" src="@imgSrc" alt="Profile picture" />
                }
                else
                {
                    <img id="feature-image" src="~/Images/Gift2.svg" alt="No profile picture found" />
                }
            </div>
        </div>
    </div>

</div>

@if (!Model.IsPending)
{
    <div>
        <br />
        <h2 class="mt-4">Gift Lists</h2>
        <hr />
        <table class="table">
            <tr>
                @{ var dummyWishList = Model.Person.WishLists.FirstOrDefault();}
                <th>
                    @Html.DisplayNameFor(model => dummyWishList.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => dummyWishList.DueDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Person.WishLists)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td class="align-middle">
                        @Html.ActionLink("View", "Details", "WishList", new { id = item.WishListID }, new { @class = "btn btn-gray-light float-end btn-list-item" })

                    </td>
                </tr>
            }

        </table>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        // Button pressed to open a modal (any modal)
        $(function () {
            var PlaceHolderElement = $('#PlaceHolderHere');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });

            // Edit button pressed on edit friend info modal
            $('#PlaceHolderHere').on('click', '[id="btnEditFriendSubmit"]', function (event) {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    if (Boolean(data.successful)) {
                        PlaceHolderElement.find('.modal').modal('hide');
                        setTimeout(function () {// wait for 1 secs
                            location.reload(); // then reload the page.
                        }, 500);
                    } else {
                        // Show errors
                        //    alert("Error");
                    }
                })
                    .fail(function () {
                        alert("There was an error processing your request. Please try again.");
                    });
            });

        });

    </script>
}

<style>

    body {
        color: #2E2E2E;
    }

    h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 32px;
    }

    #feature-image {
        width: 100%;
        aspect-ratio: 1.0;
        object-fit: cover;
        transform: scale(1.08);
        transform-origin: 50% 50%;
        overflow: hidden;
        background-color: rgba(224, 184, 64, .25);
    }

    .img-wrapper {
        overflow: hidden;
        width: 50%;
        height: auto;
        border-radius: 50%;
        border: 1px solid rgba(143, 143, 143, .5);
        margin-top: 20px;
    }

    .btn.btn-list-item {
        margin-left: 2px;
        margin-right: 2px;
        height: auto;
    }

    .Massive-Text {
        font-size: 72px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #2E2E2E
    }

    div.gray-box {
        background-color: #F1F2F3;
        padding: 20px;
        border-radius: 12px;
    }

    .gold-text {
        color: #E0B840;
    }
</style>