@model GiftRegistry.Models.FriendEdit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Friend Info</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.FriendID)
    @Html.HiddenFor(model => model.OwnerGUID)
    @Html.HiddenFor(model => model.PersonID)
    @Html.HiddenFor(model => model.IsPending)

    <div class="form-horizontal">
        <hr />

        <p>
            @string.Format("Name: " + Model.PersonName + "\n")
        </p>

        <div class="form-group">
            @Html.LabelFor(model => model.Relationship, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Relationship, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Relationship, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
