@model IEnumerable<GiftRegistry.Models.EventListItem>

@{
    ViewBag.Title = "Home";
}
<div class="row mt-4">

    <div class="col-md-6 align-self-end py-4">
        <div class="mt-4 gray-box">
            <h4 class="Massive-Lead-In-Text">Hello! Welcome to BeeGifted, a gift registry for any occassion.</h4>
            <hr class="hr-double mb-4"/>
            <h4 class="Massive-Lead-In-Text">The Date Is</h4>
            <p class="Massive-Date-Text">@ViewBag.DateString</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="text-center">
            <img id="event-image" src="~/Images/Events.svg" alt="Events image" />
        </div>
    </div>

</div>


@if (User.Identity.IsAuthenticated)
{
    <div class="pt-5">
        <h4>Upcoming Events</h4>
        <hr />
    </div>

    if (Model.ToList().Count == 0)
    {
        <p class="mb-4">There are no upcoming events at this time.</p>
    }
    else
    {
        <table class="table mb-4">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DaysRemaining)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.OwnerName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.DaysRemaining)
                    </td>
                    <td class="align-middle">
                        @Html.ActionLink("View", "Details", "WishList", new { id = item.WishListID }, new { @class = "btn btn-secondary" })
                    </td>
                </tr>
            }

        </table>
    }


}
else
{
    <h4 class="mt-4">Welcome to the Gift Registry, a web application where you can create and share gift lists with your friends and family!</h4>
    <p class="mt-2">To access all of our features, please <a href="@Url.Action("Register", "Account", new { id = "registerLink" })">register</a> or <a href="@Url.Action("Login", "Account", new { id = "loginLink" })">log in</a> first.</p>
    <br />
}

<style>

    body {
        color: #2E2E2E;
    }

    h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 32px;
    }

    #event-image {
        width: 25vw;
        height: auto;
        padding: 50px;
    }

    .Massive-Date-Text {
        font-size: 72px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #2E2E2E
    }

    div.gray-box {
        background-color: #F1F2F3;
        padding: 20px;
        border-radius: 12px;
    }

    .gold-text {
        color: #E0B840;
    }

    hr.hr-double {
        height: 6px;
        width: 80%;
        margin-left: 10%;
        border-top: 2px solid #2E2E2E;
        border-bottom: 2px solid #2E2E2E;
        color: none;
        background-color: transparent;
    }


</style>