@model IEnumerable<GiftRegistry.Models.EventListItem>

@{
    ViewBag.Title = "Home";
}

<div class="mt-4">
    <h4 class="mt-4 mb-0">The Date Is</h4>
    <p class="MassiveDateText">@ViewBag.DateString</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <h4>Upcoming Events</h4>
        <hr />
    </div>

    if (Model.ToList().Count == 0)
    {
        <p class="mb-4">There are no upcoming events at this time.</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DaysRemaining)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysRemaining)
                    </td>
                    <td>
                        @Html.ActionLink("View", "Details", "WishList", new { id = item.WishListID }, null)
                    </td>
                </tr>
            }

        </table>
    }


}
else
{
    <h4 class="mt-4">Welcome to the Gift Registry, a web application where you can create and share gift lists with your friends and family!</h4>
    <p>To access all of our features, please <a href="@Url.Action("Register", "Account", new { id = "registerLink" })">register</a> or <a href="@Url.Action("Login", "Account", new { id = "loginLink" })">log in</a> first.</p>
    <br />
}