@model GiftRegistry.Models.WishListDetail

@{
    ViewBag.Title = "Details";
}

<div class="row mt-4">

    <div class="col-md-6 align-self-end py-4">

        <div class="mt-4 gray-box row justify-content-between">

            <div class="col-auto me-auto">
                <h4>@Model.Name</h4>

                <div class="mt-3">
                    @if (Model.Description != null && Model.Description.Length > 0)
                    {
                        <p>Description: @Model.Description</p>
                    }

                    <p>Date: @Html.DisplayFor(model => model.DueDate)</p>

                    @if (ViewBag.UserGUID != Model.OwnerGUID)
                    {
                        <p>List Owner: @Model.OwnerName</p>
                    }

                </div>

                <div class="mt-3">
                    @if (ViewBag.UserGUID == Model.OwnerGUID)
                    {
                        @Html.ActionLink("Add A Gift", "Create", "Gift", new { id = Model.WishListID }, new { @class = "btn btn-gold" })
                        @Html.ActionLink("Edit Info", "Edit", "WishList", new { id = Model.WishListID }, new { @class = "btn btn-gray-dark mx-2" })
                    }
                    else
                    {
                        @Html.ActionLink("View Profile", "FriendDetails", "Person", new { personID = Model.OwnerID }, new { @class = "btn btn-gray-dark" })
                    }
                </div>
            </div>

            <div class="col-auto  d-flex flex-column justify-content-center">
                <div class="d-flex align-items-center p-0">
                    @if (Model.OwnerImage != null)
                    {
                        var base64 = Convert.ToBase64String(Model.OwnerImage);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <a id="list-owner-img-wrapper" href="@Url.Action("FriendDetails", "Person", new { personID = Model.OwnerID })">
                            <img src="@imgSrc" id="list-owner-img" class="mx-auto my-auto d-block align-middle" alt="List Owner Profile Picture">
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="text-center">
            <img id="feature-image" src="~/Images/Gift2.svg" alt="Transactions image" />
        </div>
    </div>

</div>


<div>
    <br />
    <h2 class="mt-4">Gifts</h2>
    <hr />

    @if (Model.Gifts is null || Model.Gifts.Count() == 0)
    {
        <p class="my-4">We couldn't find any gifts for this wish list. Try checking back later!</p>
    }
    else
    {
        <div id="friendList" class="row row-gallery row-cols-1 row-cols-md-auto g-4 mb-2">

            @foreach (var item in Model.Gifts)
            {
                var qtyPurchased = Model.QtyPurchasedForGiftID(item.GiftID);
                @Html.Partial("_GiftItemPartial", item, new ViewDataDictionary { { "isGiftOwner", ViewBag.UserGUID == Model.OwnerGUID }, { "qtyPurchased", qtyPurchased } })
            }

        </div>
    }


    @*<table class="table">
            <tr>
                @{ var dummyGift = Model.Gifts.FirstOrDefault();}
                <th>
                    @Html.DisplayNameFor(model => dummyGift.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => dummyGift.QtyDesired)
                </th>

                @if (ViewBag.UserGUID != Model.OwnerGUID)
                {
                    <th>
                        @Html.DisplayName("Qty. Purchased")
                    </th>
                }

                <th></th>
            </tr>

            @foreach (var item in Model.Gifts)
            {
                var qtyPurchased = Model.QtyPurchasedForGiftID(item.GiftID);
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.QtyDesired)
                    </td>

                    @if (ViewBag.UserGUID != Model.OwnerGUID)
                    {
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => qtyPurchased)
                        </td>
                    }

                    <td class="align-middle">
                        @if (ViewBag.UserGUID == Model.OwnerGUID)
                        {
                            @Html.ActionLink("Delete", "Delete", "Gift", new { id = item.GiftID }, new { @class = "btn btn-red float-end btn-list-item" })
                            @Html.ActionLink("Edit", "Edit", "Gift", new { id = item.GiftID }, new { @class = "btn btn-gray-light float-end btn-list-item" })
                            @Html.ActionLink("View", "Details", "Gift", new { id = item.GiftID }, new { @class = "btn btn-gray-light float-end btn-list-item" })

                        }
                        else
                        {
                            @Html.ActionLink("Purchase", "Create", "Transaction", new { giftID = item.GiftID }, new { @class = "btn btn-gold float-end btn-list-item" })
                            @Html.ActionLink("View", "Details", "Gift", new { id = item.GiftID }, new { @class = "btn btn-gray-light float-end btn-list-item" })
                        }
                    </td>
                </tr>
            }

        </table>*@
</div>

<style>

    body {
        color: #2E2E2E;
    }

    h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 32px;
    }

    #feature-image {
        width: 25vw;
        height: auto;
        padding: 50px;
    }

    #list-owner-img {
        height: 100%;
        max-height: 200px;
        aspect-ratio: 1.0;
        object-fit: cover;

        border-radius: 50%;
        padding: 0px;
        margin: 0px;
        vertical-align: middle;
        border: 1px solid rgba(143, 143, 143, .5);
        background-color: #FFFFFF;
    }

    #list-owner-img-wrapper {
        height: 80%;
    }

    .btn.btn-list-item {
        margin-left: 2px;
        margin-right: 2px;
        height: auto;
    }

    .Massive-Text {
        font-size: 72px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #2E2E2E
    }

    div.gray-box {
        background-color: #F1F2F3;
        padding: 20px;
        border-radius: 12px;
    }

    .gold-text {
        color: #E0B840;
    }
</style>