@model GiftRegistry.Models.WishListDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="mt-4">@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

    </dl>
</div>

@if (ViewBag.UserGUID == Model.OwnerGUID)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.WishListID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

<div>
    <br />
    <h2 class="mt-4">Gifts</h2>
    <hr />
    @if (ViewBag.UserGUID == Model.OwnerGUID)
    {
        <p>
            @Html.ActionLink("Add Gift", "Create", "Gift", new { id = Model.WishListID }, null)
        </p>
    }
    <table class="table">
        <tr>
            @{ var dummyGift = Model.Gifts.FirstOrDefault();}
            <th>
                @Html.DisplayNameFor(model => dummyGift.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummyGift.QtyDesired)
            </th>

            @if (ViewBag.UserGUID != Model.OwnerGUID)
            {
                <th>
                    @Html.DisplayName("Qty. Purchased")
                </th>
            }

            <th></th>
        </tr>

        @foreach (var item in Model.Gifts)
        {
            var qtyPurchased = Model.QtyPurchasedForGiftID(item.GiftID);
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.QtyDesired)
                </td>

                @if (ViewBag.UserGUID != Model.OwnerGUID)
                {
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => qtyPurchased)
                    </td>
                }

                <td class="align-middle">
                    @if (ViewBag.UserGUID == Model.OwnerGUID)
                    {
                        @Html.ActionLink("Delete", "Delete", "Gift", new { id = item.GiftID }, new { @class = "btn btn-danger float-end btn-list-item" })
                        @Html.ActionLink("Edit", "Edit", "Gift", new { id = item.GiftID }, new { @class = "btn btn-outline-secondary float-end btn-list-item" })
                        @Html.ActionLink("View", "Details", "Gift", new { id = item.GiftID }, new { @class = "btn btn-outline-secondary float-end btn-list-item" })

                    }
                    else
                    {
                        @Html.ActionLink("Purchase", "Create", "Transaction", new { giftID = item.GiftID }, new { @class = "btn btn-success float-end btn-list-item" })
                        @Html.ActionLink("View", "Details", "Gift", new { id = item.GiftID }, new { @class = "btn btn-outline-secondary float-end btn-list-item" })
                    }
                </td>
            </tr>
        }

    </table>
</div>

<style>

    .btn.btn-list-item {
        margin-left: 2px;
        margin-right: 2px;
        height: auto;
    }
</style>
