@model IEnumerable<GiftRegistry.Models.WishListListItem>

@{
    ViewBag.Title = "Wish Lists";
}

<h2 class="mt-4">Your Wish Lists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.GiftCount)
            </td>
            <td class="align-middle">
                @Html.ActionLink("View", "Details", new { id = item.WishListID }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.WishListID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
