@model GiftRegistry.Models.GiftDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="mt-4">@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyDesired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyDesired)
        </dd>

        @if (ViewBag.UserGUID != Model.WishList.OwnerGUID)
        {
            <dt>
                @Html.DisplayNameFor(model => model.QtyPurchased)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QtyPurchased)
            </dd>
        }

        @if (Model.ProductImage != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ProductImage)
            </dt>

            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.ProductImage);
                    var productImageSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@productImageSrc" alt="Product Image" height=200 width=200 />
                }
            </dd>
        }

    </dl>
</div>

@if (ViewBag.UserGUID != Model.WishList.OwnerGUID)
{
    <p>
        @Html.ActionLink("Purchase", "Create", "Transaction", new { giftID = Model.GiftID }, null) |
        @Html.ActionLink("Back to Gift List", "Details", "WishList", new { id = Model.WishListID }, null)
    </p>
}
else
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.GiftID }) |
        @Html.ActionLink("Back to Gift List", "Details", "WishList", new { id = Model.WishListID }, null)
    </p>
}

