@model GiftRegistry.Models.TransactionCreate

<div class="modal fade" id="createTransaction">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="createTransactionLabel">Create Transaction</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @using (Html.BeginForm("Create", "Transaction", FormMethod.Post, new { @id = "basic-form" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.GiftID)
                        @Html.HiddenFor(model => model.WishListID)
                        @Html.HiddenFor(model => model.GiverID)

                        <p>
                            @string.Format("Gift: " + Model.GiftName + "\n")
                        </p>
                        <p>
                            @string.Format("Recipient: " + Model.RecipientName + "\n")
                        </p>

                        <div class="form-group">
                            @Html.LabelFor(model => model.QtyGiven, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                <input id="QtyGiven" name="QtyGiven" type="number" min="0" class="form-control">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-gray-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-gray-dark" data-save="modal" id="btnCreateTransactionSubmit">Purchase</button>
                </div>
            }
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#btnCreateTransactionSubmit").on('click', function () {
            $("#basic-form").valid();  // <- TEST VALIDATION
        });

        $("#basic-form").validate({
            errorClass: "error fail-alert",
            rules: {
                QtyGiven: {
                    min: 0,
                    number: true
                }
            },
            messages: {
                QtyGiven: {
                    min: "Quantity should be 0 or more.",
                    number: "Quantity must be a numerical value."
                }
            }
        });
    });

</script>

<style>
    input,
    textarea {
        max-width: 100%;
    }
</style>