@model IEnumerable<GiftRegistry.Models.TransactionListItem>

@{
    ViewBag.Title = "Transactions";
}

<h2 class="mt-4">Your Transactions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gift.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtyGiven)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Gift.Name)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.QtyGiven)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.RecipientName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td class="align-middle">
                @Html.ActionLink("Edit", "Edit", new { id = item.TransactionID }, new { @class = "btn btn-secondary float-end btn-list-item" })
                @Html.ActionLink("Details", "Details", new { id = item.TransactionID }, new { @class = "btn btn-secondary float-end btn-list-item" })
                @Html.ActionLink("Delete", "Delete", new { id = item.TransactionID }, new { @class = "btn btn-secondary float-end btn-list-item" })
            </td>
        </tr>
    }

</table>

<style>

    .btn.btn-list-item {
        margin-left: 2px;
        margin-right: 2px;
        height: auto;
    }
</style>