@model GiftRegistry.Models.PersonEdit

@{
    ViewBag.Title = "Account Info";
}

<div class="form-horizontal row d-flex justify-content-center">

    <div class="col-6 mt-3">

        @Html.Partial("_ImageUploadPartial", Model.Image)

        @using (Html.BeginForm("Edit", "Person", null, FormMethod.Post, new { @id = "basic-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PersonID)

            @Html.Hidden("ImageID", Model.ImageID, new { @class = "form-control person-image", id = "ImageIDField" })

            <div class="my-4">

                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-label" })
                        <div class="">
                            <input id="FirstName" name="FirstName" required type="text" class="form-control" value="@Model.FirstName">
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            <input id="LastName" name="LastName" required type="text" class="form-control" value="@Model.LastName">
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="">
                            <input id="Birthdate" name="Birthdate" type="date" class="form-control" value="@Model.Birthdate.Value.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group my-2 row d-flex justify-content-center">
                <div class="col-6 mt-3 text-center">
                    <input type="button" value="Save" id="saveButton" class="btn btn-gold" />
                    @Html.ActionLink("Return", "Index", "Home", null, new { @class = "btn btn-gray-light" })
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    $(document).ready(function ValidateForm() {

        $("#saveButton").click(function (e) {

            e.preventDefault();
            var isValid = $("#basic-form").valid();  // <- TEST VALIDATION
            if (!isValid) {
                //    alert("is not valid");
            } else {
                //alert("is valid");
                $("#basic-form")[0].submit() // This will cause a stack overflow :)
            }
        });

        var today = new Date();
        const options = { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' };

        jQuery.validator.addMethod("pastDate", function (value, element) {

            var dateString = today.toLocaleDateString('en-GB', { year: 'numeric', month: '2-digit', day: '2-digit' }).split("/").reverse().join("-");

            //alert(value + " is before than " + dateString + "? Answer: " + (value <= dateString));
            return this.optional(element) || (value <= dateString);
        }, "Date must be in the past.");

        $("#basic-form").validate({
            debug: true,
            errorClass: "error fail-alert",
            rules: {
                FirstName: {
                    required: true
                },
                LastName: {
                    required: true
                },
                Birthdate: {
                    pastDate: true
                }
            },
            messages: {
                FirstName: {
                    required: "Please enter a first name.",
                    validateNullOrWhiteSpace: "Please enter a first name."
                },
                LastName: {
                    required: "Please enter a last name.",
                    validateNullOrWhiteSpace: "Please enter a last name."
                },
                Birthdate: {
                    pastDate: "Date must be no later than " + today.toLocaleDateString('en-us', options) + "."
                }
            }
        });
    });

</script>

<style>

    .centered-form {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }
</style>
