@model GiftRegistry.Models.PersonEdit

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "Person", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PersonID)

    <div class="form-horizontal row d-flex justify-content-center">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-6">

            @Html.Hidden("ImageID", Model.ImageID, new { @class = "form-control person-image", id = "ImageIDField" })
            @Html.Partial("_ImageUploadPartial", Model.Image)

            <div class="my-4">

                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-label" })
                        <div class="">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="">
                            @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { Value = Model.Birthdate.Value.ToString("yyyy-MM-dd"), @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group my-2 row d-flex justify-content-center">
                <div class="col-6 mt-3 text-center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Return", "Index", "Home", null, new { @class = "btn btn-outline-secondary" })
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style>

    .centered-form {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }

</style>
