@model IEnumerable<GiftRegistry.Models.NotificationListItem>

@{
    ViewBag.Title = "Notifications";
}

<h2 class="mt-4">Notifications</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@GetClassForNotification(item.NotificationType)">

            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            @if (item.NotificationType == GiftRegistry.Data.NotificationType.ReadOnlyMessage)
            {
                <td class="align-middle">
                    @Html.ActionLink("Delete", "Delete", new { id = item.NotificationID }, new { @class = "btn btn-red float-end btn-list-item" })
                    @Html.ActionLink("View", "Details", new { id = item.NotificationID }, new { @class = "btn btn-gray-light float-end btn-list-item" })
                </td>
            }
            else if (item.NotificationType == GiftRegistry.Data.NotificationType.FriendRequest)
            {
                <td class="align-middle">
                    @Html.ActionLink("Ignore", "DenyFriendRequest", new { id = item.NotificationID }, new { @class = "btn btn-red float-end btn-list-item" })
                    @Html.ActionLink("View", "Details", new { id = item.NotificationID }, new { @class = "btn btn-gray-light float-end btn-list-item" })
                    @Html.ActionLink("Accept", "AcceptFriendRequest", new { id = item.NotificationID }, new { @class = "btn btn-gold float-end btn-list-item" })
                </td>
            }
            else
            {
                <td class="align-middle">
                    @Html.ActionLink("Delete", "Delete", new { id = item.NotificationID }, new { @class = "btn btn-red float-end btn-list-item" })
                    @Html.ActionLink("View", "Details", new { id = item.NotificationID }, new { @class = "btn btn-gray-light float-end btn-list-item" })
                </td>
            }
        </tr>
    }

</table>

@functions{
    public string GetClassForNotification(GiftRegistry.Data.NotificationType nType)
    {
        switch (nType)
        {
            case GiftRegistry.Data.NotificationType.ReadOnlyNegative:
                return "table-danger";
            case GiftRegistry.Data.NotificationType.ReadOnlyPositive:
                return "table-success";
            default:
                return "";
        }
    }
}
